<!doctype html>
<html>
  <head>
    <title>Heatmap</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">

  </head>
  <body>
    <h2>Heatmap</h2>
    <img src='/static/plots/heatmap.jpg' width="100%" height="80%">
     <p>Number of sold items is color coded, for the guide please refer to the bar on the right (e.x. deepest violet cell in july 2016 is 180 sales in price range between 3100 - 4700 pln). </p>
     <p>December is a busy month. September this year was a disaster for sales, because of new release? Not much data before 2016.</p>
  </body>


</html>